push.bat
TestResult.xml
build
obj
bin
.sass-cache/*
deploy
deploy/*
.idea/*
src/CommonAssemblyInfo.cs
_ReSharper.*
*.csproj.user
*.resharper.user
*.ReSharper.user
*.suo
*.cache
*.user
*.dbmdl
~$*
.orig
.sass-cache